<nav class="navbar header">
  <div class="navbar-header">
    <div class="row">
      <div class="col-lg-2 col-sm-2">
        <h2>
          <a href="#"><img src="../icon.png"
                           class="header-logo img-responsive"/></a>
        </h2>
      </div>

	<div class="col-lg-4 col-sm-3">
	<app-navigator></app-navigator>
	</div>
	
      <div class="col-lg-4 col-sm-3">
        <div class="panel-default">
          <div class="input-group">
            <input type="text" class="search-query form-control"
                   placeholder="Search"/> <span class="input-group-btn">
							<button class="btn btn-info" type="button">
								<a href="#"><i class="fa fa-search icon" aria-hidden="true"></i></a>
							</button>
						</span>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 cart-icon">
        <app-cart></app-cart>
      </div>

      <div class="col-lg-1 col-sm-1">
        <div ngbDropdown class="right-dropdown">
          <button class="btn btn-default" id="mode" ngbDropdownToggle>
            <i class="fa fa-user-circle fa-2x icon" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="mode-menu">
            <button *ngIf="!user" class="dropdown-item" (click)="openRegistration()">Register</button>
            <button *ngIf="!user" class="dropdown-item" (click)="openLogin()">Login</button>
            <button class="dropdown-item" (click)="openUserProfile()">User
              Details
            </button>
          </div>
        </div>
        <div style="padding-left: 80px;padding-top: 5px" *ngIf="user">
          <p style="color: white">{{user.email}}</p>
        </div>
      </div>

    </div>
  </div>
</nav>
<app-bannercomponent></app-bannercomponent>



