<div class="modal-header">
  <h4 class="modal-title">{{product.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h2>{{product.name}}</h2>
  <div class="row">
    <div class="col-md-6">
      <ngb-carousel class="row" data-interval="false">
        <ng-template ngbSlide>
          <img id="mainImage" src="{{product.images[0]}}" alt="Random first slide" #mainImage>
        </ng-template>
      </ngb-carousel>
      <div class="card-group">
        <div class="h-25 w-25 d-inline-block" *ngFor=" let image of product.images">
          <img class="card-img-top img-fluid" (click)="mainImage.nativeElement.src=image" src="{{image}}"
               alt="Card image cap"/>
        </div>
      </div>
      <div *ngIf="product.discount == 0 || product.discount == null" style="padding-top: 80px">
        <h3><strong>Rs: {{product.price}}</strong></h3>
      </div>
      <div *ngIf="(product.discount > 0 && product.discount != null)" style="padding-top: 50px">
        Price:<h2><s> Rs {{product.price}}</s></h2>
        Discounted Price<h3><strong style="color: green"> Rs: {{product.priceAfterDiscount}}</strong></h3>
      </div>
    </div>
    <div class="col-md-6">
      <h3><b>Details:</b></h3>
      {{product.description}}
    </div>
  </div>
</div>
<div class="modal-footer">
  <p>
    <ngb-alert *ngIf="addedToCart" type="success" [dismissible]="false">
      Product Added to the cart
    </ngb-alert>
  </p>
  <button type="button"
          [ngClass]="{'btn-warning' : alreadyExistsInCart(product)}"
          [disabled]="addedToCart"
          class="btn btn-secondary" (click)="addToCart(product)">Add to Cart
  </button>
  <button type=" button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close
  </button>
</div>
