<div class="container-fluid productlist">
  <div class="container-fluid product-container-style" *ngFor="let products of productsByCategoryMap | mapToIterable">
    <h2 class="product-heading"><b>{{products.key}}</b></h2>
    <ngb-carousel class="row" data-interval="false">
      <ng-template ngbSlide *ngFor="let productList of products.value | splitArray : 4">
        <div class="overlay-left"></div>
        <div class="thubmnail" *ngFor=" let product of productList">
          <div class="box">
            <div *ngIf = "product.discount !== 0 || product.discount != null" class="ribbon"><span>{{product.discount}} % off</span></div>
            <img (click)="openProductDetails(product)" class="image-align" src="{{product.images[0]}}"
                 height="250">
          </div>
          <div class="carousal-caption" style="padding-left: 35px">
            <p></p>
            <label><a (click)="openProductDetails(product)">{{product.name}}</a></label>
            <br clear="all"/>
            <div class="star-rating">
              <span *ngFor="let i of [1,2,3,4,5]"
                    [ngClass]="{'fa' : true,'fa-star-o' : i > product.stars, 'fa-star' : i <= product.stars}"
                    [attr.data-rating]="i"></span>
            </div>
            <div style="{z-index: 9; position: relative)">
              <label><strong>Rs: {{product.price}}</strong></label>
              <button class="btn btn-secondary  btn-sm"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="overlay-right"></div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

