.productlist {
  padding-top: 300px;
}

.product-container-style {
  padding-top: 30px;
}

.image-align {
  padding: 5%;
}

.body-background {
  background-color: #262626;
}

*:focus {
  outline: none;
}

img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s; /* Safari */
  box-shadow: 10px 10px 5px #888888;
  z-index: 5;
}

p {
  word-wrap: break-word;
  width: 200px;
}

.star-rating {
  line-height: 40px;
  font-size: 1.25em;
  cursor: pointer;
  display: inline-block;
}

label {
  text-align: left;
  clear: both;
  float: left;
  margin-right: 15px;
}

.product-heading {
  font-family: "Al Nile";
  color: chocolate;
}

.overlay-left {
  position: relative;
  padding-left: 50px;
  z-index: 10;
}

.overlay-right {
  position: relative;
  padding-right: 50px;
  z-index: 10;
}

.box {
  position: relative;
  border: 1px solid #BBB;
  background: transparent;
  float: left;
  margin: 20px
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.ribbon span::after {
  content: '';
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #79A70A;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.cart-button {
  float: right;
  padding-right: 20%;
  background-color: transparent;
  border: none;
}

.cart-button[disabled] {
  color: darkgoldenrod;
}
.cart-button[disabled]:hover{
  cursor: not-allowed;
}

.right-dropdown-menu {
  right: 100%;
}
