.btn {
  padding-top: 0px;
  background-color: transparent;
}

.icon {
  color: lightblue;
}

.dropdown-menu {
  width: 400%;
}

.dropdown-menu a {
  word-wrap: break-word;
  word-break: normal;
  align-self: auto;
  white-space: normal;
}

.dropdown-divider {
  pointer-events: none;
}
.dropdown-item {
  margin: 10px;
  border-bottom-color: black;
}

.dropdown-item:active{
  background-color: transparent;
}

.dropdown-divider-button {
  opacity: 1;
  align-items: center;
}

.dropdown-divider-button :hover {
  -webkit-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s; /* Safari */
  box-shadow: 10px 10px 5px #888888;
  z-index: 5;
}

.dropdown-item .close {
  position: absolute;
  left: 0;
  top:auto;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

input.qtyplus {
  width: 25px;
  height: 25px;
}

input.qtyminus {
  width: 25px;
  height: 25px;
}
