<div class="container-fluid banner">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="http://lawtonfirst.org/sites/default/files/styles/hero_banner/public/events/images/fireworks21.jpg?itok=hLVWjGJv" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Happy Diwali</h3>
        <p>Get our customized diwali kit</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="http://g-ecx.images-amazon.com/images/G/31/2016/Events/Holi/Adapts/Holi_Bunk._UX1500_SX1500_CB294911201_.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Happy Holi</h3>
        <p>Get our customized holi kit</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="http://lorempixel.com/1500/300?r=3" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Christmas</h3>
        <p>Get our customized new year kit</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
