.image{
  align-self: stretch;
  width: 100%;
}

.carousel{
  position: absolute;
  margin-bottom: 20px;
  line-height:1;
  top:0;
  left:0;
  min-width:100%;
}

.carousel .item {
  width: 100%;
  /*slider width*/
  max-height: 600px;
  /*slider height*/
}
.carousel .item img {
  width: 100%;
  /*image width*/
}

.banner {
  max-height: 50px;
}
