<div class="container-fluid banner">
  <ngb-carousel>
    <template ngbSlide>
      <img src="http://lorempixel.com/1500/300?r=1" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Diwali</h3>
        <p>Advertisements(Marking Banner)</p>
      </div>
    </template>
    <template ngbSlide>
      <img src="http://lorempixel.com/1500/300?r=2" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Holi</h3>
        <p>Advertisements(Marking Banner)</p>
      </div>
    </template>
    <template ngbSlide>
      <img src="http://lorempixel.com/1500/300?r=3" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Christmas</h3>
        <p>Advertisements(Marking Banner)</p>
      </div>
    </template>
  </ngb-carousel>
</div>
