<nav>
  <ul class="nav">

    <li><a href="#">Puja KIT</a>
      <ul>
        <li><a href="#">Diwali KIT</a></li>
        <li><a href="#">Durgapuja KIT</a></li>
        <li><a href="#">Holi KIT</a></li>
        <li><a href="#">Shivji Ki puja</a></li>
      </ul>
    </li>
    <li><a href="#">Accessories</a>
      <ul>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Clothing</a>
          <ul>
            <li><a href="#">Designer Sari</a></li>
            <li><a href="#">ChUridar</a></li>
            <li><a href="#">Pathancoat</a></li>
            <li><a href="#">Punjabi</a></li>
          </ul>
        </li>
        <li><a href="#">Divine Gifts</a>
        <ul>
            <li><a href="#">Crystal Hanuman ji</a></li>
            <li><a href="#">Ganesh</a></li>
            <li><a href="#">Shiv Ling</a></li>
            <li><a href="#">Parbati</a></li>
          </ul>
        </li>
        <li><a href="#">Watch</a></li>
      </ul>
    </li>
    <li><a href="#">Home Decor</a>
      <ul>
        <li><a href="#">Watch Clock</a></li>
        <li><a href="#">Rug</a></li>
        <li><a href="#">Flower Vessel</a></li>
        <li><a href="#">Lanterns</a></li>
      </ul>
    </li>
  </ul>
</nav>