<footer id="sticky">
  
  <!--containers for footer content-->
  <div class="container siteNav">
    <nav><span style="border-bottom:2px solid">Company</span>
      <ul>
        <li>
          <a>Contact</a>
        </li>
        <li>
          <a>About Us</a>
        </li>
        <li>
          <a>Loyalty Program</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="container siteNav">
    <nav><span style="border-bottom:2px solid">Need Help</span>
      <ul>
        <li>
          <a>Store Info</a>
        </li>
        <li>
          <a>Track Order</a>
        </li>
        <li>
          <a>FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="container siteNav">
    <nav><span style="border-bottom:2px solid">Know about Us</span>
      <ul>
        <li>
          <a>Blog</a>
        </li>
        <li>
          <a>Press</a>
        </li>
        <li>
          <a>Careers</a>
        </li>
        <li>
          <a>Privacy Policy</a>
        </li>
        <li>
          <a>Terms & Conditions</a>
        </li>
      </ul>
    </nav>
  </div>
  
  
</footer>